<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/successfullogin.css">
        <link rel="icon" href="/static/icon/favicon.ico" type="image/x-icon">
        <meta charset="UTF-8">
  <title>Login-in</title>
    </head>
    <body>
        <div class="background"></div>
        <div clas="all">
            <header class="header">
                <div class="bg-header"></div>
                    <w>ChillGame</w>
            </header>
            <main class="main">
                <form method="POST">
                    <label>Введен неверный </label>
                    <label>логин или пароль</label>
                    <a href="{{url_for('login')}}">Вход</a>
                </form>
            </main>
        </div>
    </body>
</html>