<!DOCTYPE html>
<html lang="ru">
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="stylesheet" href="/static/css/menu.css">
        <link rel="stylesheet" href="/static/css/loteries.css">
        <link rel="icon" href="/static/icon/favicon.ico" type="image/x-icon">
        <link rel="" href="/DataBase.db">
        <meta charset="UTF-8">
  <title>Practical jokes</title>
    </head>
    <body>
        <div class="background"></div>
  <div clas="all">
    <header class="header">
      <div class="bg-header"></div>
      <w>ChillGame</w>
      <a class="menu-toggle" id="menuToggle">☰</a>
    </header>
    <nav class="side-menu" id="sideMenu">
        <!-- Кнопка закрытия внутри меню -->
        <a class="close-menu" id="closeMenu">✖</a>
        <!-- Заголовок меню -->
        <div class="menu-header">
            <h2>Навигация</h2>
        </div>
        <!-- Пункты меню -->
        <ul class="menu-list">
            <li>
                <a href="{{ url_for('index')}}" class="menu-item">
                    <span>Главная</span>
                </a>
            </li>
            <li>
                <a href="{{url_for('profile')}}" class="menu-item">
                    <span>Профиль</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-item">
                    <span>Розыгрыши</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-item">
                    <span>Галерея</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-item">
                    <span>Контакты</span>
                </a>
            </li>
            <li>
                <a href="#" class="menu-item">
                    <span>Помощь</span>
                </a>
            </li>
        </ul>
        <!-- Нижняя часть меню -->
        <div class="menu-footer">
            <div class="user-info">
                <div>
                    <span class="user-name">{{Login}}</span>
                    {% if is_admin %}
                    <span class="user-status-admin">Администратор</span>
                    {% else %}
                    <span class="user-status-user">Пользователь</span>
                    {% endif %}
                </div>
            </div>
            <a href="{{url_for('logout')}}"><button class="logout-btn">Выйти</button></a>
        </div>
    </nav>
    <div class="overlay" id="overlay"></div>
      <div class="main">
          {% if is_admin %}
          <div class="conteiner_1">
              <button><a class="button_a" href="{{url_for('new_lotery')}}">Новый розыгрыш</a></button>
          </div>
          {% endif %}
          <div class="conteiner">
              <h2>Последний розыгрыш</h2>
              <ul class="participation">
                  <li>
                      <img src="{{ url_for('static', filename='images/' + last_lotery.name + '.jpg') }}"
                           class="image"
                           onerror="this.src='{{ url_for('static', filename='images/none.jpg') }}'">
                      <div>
                        <a class="participation-item" href="{{url_for('get_lotery', lotery_number=last_lotery['number'])}}">{{last_lotery['name']}}</a>
                        <p class="participation-item-content">{{last_lotery['content']}}</p>
                      </div>
                  </li>
              </ul>
          </div>
          <div class="conteiner">
              <h2>Все розыгрыши</h2>
                  <ul class="participation">
                  {% for lotery in lotteries %}
                  <li>
                      <img src="{{ url_for('static', filename='images/' + lotery.name + '.jpg') }}"
                           class="image"
                           onerror="this.src='{{ url_for('static', filename='images/none.jpg') }}'">
                      <div>
                          <a class="participation-item-title" href="{{url_for('get_lotery', lotery_number=lotery['number'])}}">{{lotery['name']}}</a>
                          <p class="participation-item-content">{{lotery['content']}}</p>
                      </div>
                  </li>
                  {% endfor %}
              </ul>
          </div>
      </div>
      </div>
    <script src="{{ url_for('static', filename='js/menu.js') }}"></script>
    </body>
</html>